<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{ 'ia-upload'|message }}</title>
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		html, body {
			background-color: #eee;
		}
		.content {
			background-color: #fff;
			padding: 20px;
			margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
			border-radius: 0 0 6px 6px;
			box-shadow: 0 1px 2px rgba(0,0,0,.15);
		}
		.page-header {
			background-color: #f5f5f5;
			padding: 20px 20px 10px;
			margin: -20px -20px 20px;
		}
		textarea.form-control {
			line-height: 1.5em;
			font-family: monospace;
			font-size: 13px;
		}
		.input-group {
			width: 100%;
		}
		#commonsName.choose-format {
			width: calc(99% - 7em);
		}
		#format {
			width: 7em;
		}
		#debug-notice { margin:0; border-radius:0; padding:0.4em; text-align:center }
	</style>
</head>
<body>

	{% if debug %}
	<div class="alert alert-danger" id="debug-notice">{{ 'debug-notice'|message }}</div>
	{% endif %}

	<div class="container">
		<div class="content">
			<div class="page-header">
				<ul class="pull-right list-inline">
					<li>
						<a href="https://commons.wikimedia.org/wiki/Special:RecentChanges?tagfilter=OAuth+CID%3A+{{ oauth_cid }}"
						   target="_blank" title="{{ 'recent-uploads-tooltip'|message }}">
							{{ 'recent-uploads'|message }}
						</a>
					</li>
					{% if user %}
					<li>{{ 'logged-in-as'|message(user) }}</li>
					<li><a href="{{ url_for('logout') }}">{{ 'logout'|message }}</a></li>
					{% endif %}
				</ul>
				<h1><a href="{{ url_for( 'home' ) }}">{{ 'site-title'|message }}</a></h1>
			</div>
			{% if error %}
				<div class="alert alert-danger">{{ error|raw }}</div>
			{% endif %}
			{% if warning %}
				<div class="alert alert-warning">{{ warning|raw }}</div>
			{% endif %}
			{% if not user %}
				<div class="alert alert-warning">
					{{ 'login-notice'|message( full_url_for( 'oauth-init', [], {'referer': (get_uri().__toString())} ) )|raw }}
				</div>
			{% endif %}
			{% if success %}
				<div class="alert alert-success">{{ success|raw }}</div>
			{% endif %}
			{% block body %}
			{% endblock %}
		</div>
	</div>
	<footer class="text-center text-muted">
		<p>
			{{ 'site-explanation'|message('https://wikitech.wikimedia.org/wiki/Tool:IA_Upload', 'https://phabricator.wikimedia.org/maniphest/task/create/?projects=ia-upload')|raw }}
		</p>
	</footer>
</body>
</html>
