{% extends "template.twig" %}
{% block body %}
	<form method="POST" action="{{ path( 'commons-save' ) }}" role="form" class="form-horizontal">
		<fieldset>
			<legend>{{ 'upload-file'|message }}</legend>

			<div class="form-group">
				<label for="iaId" class="col-lg-2 control-label">{{ 'form-label-ia-id'|message }}</label>
				<div class="col-lg-10">
					<input name="iaId" id="iaId" type="text" size="30" required="required" readonly="readonly" class="form-control" value="{{ iaId|e }}" />
				</div>
			</div>

			<div class="form-group">
				<label for="commonsName" class="col-lg-2 control-label">{{ 'form-label-commons-name'|message }}</label>
				<div class="col-lg-10">
					<input name="commonsName" id="commonsName" type="text" size="30" required="required" class="form-control" value="{{ commonsName|e }}" />
				</div>
			</div>

			<div class="form-group">
				<label for="sourceFile" class="col-lg-2 control-label">{{ 'form-label-file-source'|message }}</label>
				<div class="col-lg-10">
					<select name="fileSource" id="sourceFile" class="form-control" required="required">
						<option value="djvu" {% if fileSource == 'djvu' and djvuFilename %}selected{% endif %} {% if not djvuFilename %}disabled{% endif %}>
							{{ 'file-source-djvu'|message }}
							{% if not djvuFilename %}{{ 'file-source-not-available'|message }}{% endif %}
						</option>
						<option value="jp2" {% if fileSource == 'jp2' %}selected{% endif %} {% if not jp2Filename %}disabled{% endif %}>
							{{ 'file-source-jp2'|message }}
							{% if not jp2Filename %}{{ 'file-source-not-available'|message }}{% endif %}
						</option>
						<option value="pdf" {% if fileSource == 'pdf' %}selected{% endif %} {% if not pdfFilename %}disabled{% endif %}>
							{{ 'file-source-pdf'|message }}
							{% if not pdfFilename %}{{ 'file-source-not-available'|message }}{% endif %}
						</option>
					</select>
					<span class="help-block">
						{{ 'file-source-help'|message('https://commons.wikimedia.org/wiki/Special:OAuthManageMyGrants')|raw }}
					</span>
				</div>
			</div>

			<div class="form-group">
				<label for="removeFirstPage" class="col-lg-2 control-label">{{ 'remove-first-page'|message }}</label>
				<div class="col-lg-10 row">
					<div class="col-lg-2">
						{# See here for the URL structure: https://openlibrary.org/dev/docs/bookurls #}
						<img src="https://www.archive.org/download/{{ iaId }}/page/n0_thumb.jpg" class="img-thumbnail" />
					</div>
					<div class="col-lg-10">
						<div class="radio">
							<label>
								<input type="radio" name="removeFirstPage" value="yes" />
								{{ 'remove-first-page-yes'|message }}
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="removeFirstPage" value="no" />
								{{ 'remove-first-page-no'|message }}
							</label>
						</div>
						<span class="help-block">
							{{ 'remove-first-page-help'|message|raw }}
						</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-lg-2 control-label">{{ 'form-label-commons-description'|message }} </label>
				<div class="col-lg-10">
					<textarea name="description" id="description" required="required" rows="30" cols="60" class="form-control">{{ description|e }}</textarea>
					<div>
						<ul class="list-unstyled">
						{% for note in notes %}
							<li>{{ note|raw }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input class="btn btn-primary" type="submit" value="Upload" {% if not  user %}disabled title="{{ 'authorize-first'|message }}"{%  endif %} />
					<span class="help-block">{{ 'upload-time-warning'|message }}</span>
				</div>
			</div>

		</fieldset>
	</form>
{% endblock %}