{% extends "template.twig" %}
{% block body %}
	<form method="GET" action="{{ url_for( 'commons-fill' ) }}" role="form" class="form-horizontal">
		<fieldset>
			<legend>{{ 'upload-file'|message }}</legend>
			<div class="form-group">
				<label for="iaId" class="col-lg-3 control-label">{{ 'form-label-ia-id'|message }}</label>
				<div class="col-lg-9">
					<input name="iaId" id="iaId" type="text" size="30" required="required" class="form-control" value="{{ iaId|e }}" />
					<span class="help-block">
						{{ 'ia-id-help'|message('<code>https://archive.org/details/<u><strong>cu31924022189587</strong></u></code>')|raw }}
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="commonsName" class="col-lg-3 control-label">{{ 'form-label-commons-name'|message }}</label>
				<div class="controls col-lg-9">
					<div class="input-group">
						<input name="commonsName" id="commonsName" type="text" size="30" required="required" class="form-control choose-format" value="{{ commonsName|e }}" maxlength="240" />
						<select name="format" id="format" class="form-control input-group-addon">
							<option value="djvu">.djvu</option>
							<option value="pdf" selected>.pdf</option>
						</select>
					</div>
					<span class="help-block">{{ 'commons-name-help'|message }}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-9">
					<input class="btn btn-primary" type="submit" value="{{ 'get-metadata'|message }}" />
				</div>
			</div>
		</fieldset>
	</form>

	<h2>{{ 'job-queue'|message }}</h2>
	{% if not jobs %}
		<p class="alert alert-success">{{ 'job-queue-empty'|message }}</p>
	{% else %}
		<p>
			{{ 'jobs-will-be-removed'|message }}
			{% if user %}
				{{ 'user-contribs-link'|message('https://commons.wikimedia.org/wiki/Special:Contributions/'~user)|raw }}
			{% endif %}
		</p>
		<table class="table">
			<thead>
			<tr>
				<th>{{ 'table-header-ia-item'|message }}</th>
				<th>{{ 'table-header-commons-filename'|message }}</th>
				<th>{{ 'table-header-status'|message }}</th>
				<th>{{ 'table-header-log'|message }}</th>
				<th>{{ 'table-header-download'|message }}</th>
			</tr>
			</thead>
		{% for job in jobs %}
			<tbody>
			<tr>
				<td><a href="https://archive.org/details/{{ job.iaId }}">{{ job.iaId }}</a></td>
				<td><a href="https://commons.wikimedia.org/wiki/File:{{ job.commonsName }}">{{ job.commonsName }}</a></td>
				<td>
					{% if job.failed %}{{ 'possibly-failed'|message }}
					{% elseif job.locked %}{{ 'in-progress'|message }}
					{% else %}{{ 'queued'|message }}{% endif %}
				</td>
				<td><a href="{{ url_for( 'log', {iaId: job.iaId} ) }}">View log</a></td>
				<td>
					{% if job.hasDjvu %}
						<a href="{{ url_for( 'djvu', {iaId: job.iaId} ) }}">Download DjVu</a>
					{% endif %}
				</td>
			</tr>
			</tbody>
		{% endfor %}
		</table>
	{% endif %}

{% endblock %}
